<!-- More Info Modal -->
<div class="modal fade" id="info-{{ item.id }}" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-light" style="background:#222;">
            <div class="modal-header">
                <h5 class="modal-title">{{ item.name }}</h5>
                <button class="close text-light" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="{{ item.image or url_for('static', filename='default.png') }}"
                     class="img-fluid mb-3" style="border-radius:10px;">
                <p>{{ item.description }}</p>
                <p class="text-success font-weight-bold">{{ item.price }}$</p>
            </div>
        </div>
    </div>
</div>

<!-- Purchase Modal -->
<div class="modal fade" id="buy-{{ item.id }}" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-light" style="background:#222;">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Purchase</h5>
                <button class="close text-light" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Purchase <strong>{{ item.name }}</strong>
                for <span class="text-success">{{ item.price }}$</span>?
            </div>
            <div class="modal-footer">
                <form method="POST">
                    <input type="hidden" name="purchased_item" value="{{ item.name }}">
                    <button class="btn btn-success">Yes, Buy</button>
                </form>
                <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
